{{define "nav"}}
<nav>
    <ul>
        <li><a href="/index">Home</a></li>
        <li><a href="/calculator">Calculator</a></li>
        <li><a href="/conversion">Conversion Calculator</a></li>
    </ul>
</nav>
{{end}}